html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
}

header {
	background-color: black;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.page-title {
	font-family: 'Bungee', cursive;
	font-size: 7rem;
	color: white;
}

main {
	padding: 3rem 1rem 0 1rem;
}

#start-coding-form {
	text-align: center;
	margin-bottom: 2rem;
}

#code-button {
	background-color: #34B334;
	color: white;
	font-size: 4rem;
	border: none;
	padding: 1rem 6rem;
	margin-bottom: 1rem;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: 0.3s cubic-bezier(.25,.8,.25,1);
}


#code-button:hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


#learning-type-selector {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: #3B444B;
}

.text-section-big {
	font-size: 2rem;
}

#current-activity {
	text-align: center;
}

.mg-b-1 {
	margin-bottom: 1rem!important;
}

.mg-b-2 {
	margin-bottom: 2rem;
}

.learning-activity-card {
	width: 300px;
	margin: auto;
	text-align: left;
	padding: 1rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.learning-activity-card:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.card-period {
	color: #6E7F80;
}

#stat-table {
	margin: auto;
}

thead {
	font-size: 1.5rem;
	color: white;
	background-color: black;
}

th, td {
	padding: 1rem 2rem;;
	border: 1px solid black;
}

tfoot tr td {
	padding: 0.5rem;
	border: 1px solid #008000;
	color: #008000;
	background-color: #A4C639;
}

tbody tr:nth-child(odd) {
	background-color: #F2F3F4;
}

tbody tr:nth-child(even) {
	background-color: #FEFEFA;
}

tbody tr {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

tbody tr:hover {
	background-color: #A1CAF1;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  color: white;
  text-align: center;
}